<form [formGroup]="addCatForm">
    <input formControlName='name' type="text" placeholder="Enter a name" />
    <input formControlName='age' type="number" placeholder="Enter the age" />
    <button [disabled]="addCatForm.invalid" (click)="addCat()">Add cat</button>
</form>


<table class="cats">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Remove</th>
    </tr>
    <tr *ngFor="let cat of catList | async">
        <td>{{cat.name}}</td>
        <td>{{cat.age}}</td>
        <td><button (click)="removeCat(cat._id)">Remove cat</button></td>
    </tr>
</table>