<ul>
  <li routerLink="/template-driven-forms" routerLinkActive="router-link-active">Template Driven forms</li>
  <li routerLink="/reactive-forms" routerLinkActive="router-link-active">Reactive forms</li>
  <li routerLink="/rxjs-playground" routerLinkActive="router-link-active">Rxjs playground</li>
</ul>
<p>reactive-forms works!</p>
<form [formGroup]="profileForm">
  
    <label>
      First Name:
      <input type="text" formControlName="firstName">
      <p *ngIf="profileForm.controls.firstName.errors?.name">{{profileForm.controls.firstName.errors.name}}</p>
    </label>
  
    <label>
      Number:
      <input type="number" formControlName="number">
    </label>
  
    <button [disabled]="profileForm.invalid">Submit</button>
  </form>

  <button (click)="getFormState()">Get Form state</button>