<p>reactive-forms works!</p>
<form [formGroup]="profileForm">
  
    <label>
      First Name:
      <input type="text" formControlName="firstName">
      <p *ngIf="profileForm.controls.firstName.errors?.name">{{profileForm.controls.firstName.errors.name}}</p>
    </label>
  
    <label>
      Number:
      <input type="number" formControlName="number">
    </label>
  
    <button [disabled]="profileForm.invalid">Submit</button>
  </form>

  <button (click)="getFormState()">Get Form state</button>